.header {
  width: 100%;
  padding: 32rem;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  font-family: var(--header-text-font);
  font-size: 24rem;
  background-color: var(--yellow);
  z-index: 2;
  @media (max-width: 1024px) {
    padding: 24rem;
  }
}
.navigation {
  display: flex;
  align-items: center;
  gap: 57rem;
  @media (max-width: 768px) {
    display: none;
  }
}
.link {
  display: inline-block;
  opacity: 50%;
  &:hover,
  &:focus {
    opacity: 100%;
  }
  &.selected {
    opacity: 100%;
  }
}
.menuButton {
  width: 32rem;
  height: 32rem;
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}
.menuIcon {
  width: 32rem;
  height: 32rem;
  fill: var(--black);
}
