.navigation {
  width: 100%;
  padding: 32rem;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  gap: 70rem;
  font-family: var(--header-text-font);
  font-size: 24rem;
  background-color: var(--yellow);
  z-index: 2;
}
.link {
  display: inline-block;
  opacity: 50%;
  &:hover,
  &:focus {
    opacity: 100%;
  }
  &.selected {
    opacity: 100%;
  }
}
.menuButton {
  width: 32rem;
  height: 32rem;
  display: none;
}
.menuIcon {
  width: 32rem;
  height: 32rem;
}
@media (max-width: 700px) {
  .navbar {
    padding: 24rem;
  }
  .menuButton {
    display: block;
  }
  .navigation {
    display: none;
  }
}
