.title {
  padding: 5rem 0;
  font-family: var(--header-text-font);
  font-size: 3rem;
  @media (max-width: 768px) {
    font-size: 2rem;
    padding: 3rem 0;
  }
}
.projects {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  @media (max-width: 768px) {
    gap: 3rem;
  }
}
