.title {
  padding: 80rem 0;
  font-family: var(--header-text-font);
  font-size: 32rem;
  @media (max-width: 768px) {
    font-size: 24rem;
    padding: 32rem 0;
  }
}
.projects {
  display: flex;
  flex-direction: column;
  gap: 80rem;
  @media (max-width: 768px) {
    gap: 48rem;
  }
}
