.linksContainer {
  width: fit-content;
}
.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: inherit;
  text-decoration: inherit;
}
.linkLogo {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: var(--spacing-12);
  fill: var(--black);
}
.linkText {
  font-family: var(--header-font);
  font-size: var(--font-size-16-24);
}
