.linksContainer {
  width: fit-content;
}
.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--header-font);
  font-weight: 400;
  font-size: var(--font-size-16-24);
  color: inherit;
  text-decoration: inherit;
}
.linkLogo {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: var(--spacing-12);
  fill: var(--black);
}
.tooltip {
  padding: var(--spacing-12) var(--spacing-20);
  --anchor-gap: var(--spacing-12);
  --anchor-offset: calc(var(--spacing-32) * -1);
  --anchor-padding: var(--spacing-16);
  background: var(--black);
  color: var(--white);
  font-weight: 600;
  font-size: var(--font-size-16-20);
}
@media (max-width: 48rem) {
  .tooltip {
    font-weight: 500;
  }
}
