.menuButton {
  padding: var(--spacing-32);
  display: none;
}
.menuIcon {
  width: 2rem;
  height: 2rem;
  fill: var(--black);
}
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--yellow);
}
.closeButton {
  padding: var(--spacing-32);
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--yellow);
}
.closeIcon {
  width: 2rem;
  height: 2rem;
  fill: var(--black);
}
.panel {
  width: 100%;
  height: 100%;
  position: relative;
}
.navigation {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.linkList {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-32);
}
.linkWrapper {
  width: fit-content;
}
.link {
  width: fit-content;
  font-family: var(--header-font);
  font-size: var(--font-size-24-32);
  opacity: 50%;
}
.link:hover,
.link:focus,
.link.selected {
  opacity: 100%;
}

@media (max-width: 48rem) {
  .menuButton {
    display: block;
  }
}
