.titleButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  @media (max-width: 768px) {
    width: 100%;
    align-items: baseline;
    justify-content: flex-end;
    flex-direction: row-reverse;
  }
}
.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  gap: 1.5rem;
  flex-shrink: 1;
  @media (max-width: 768px) {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
.linkText {
  font-family: var(--header-text-font);
  font-size: 1.5rem;
}
.expandBtnContainer {
  height: 2rem;
  width: 2rem;
  @media (max-width: 768px) {
    height: 1.125rem;
    width: 1.125rem;
  }
}
.expandBtn {
  height: 2rem;
  width: 2rem;
  flex-shrink: 0;
  //transition: all 0.5s ease-in-out;
  stroke: var(--black);
  @media (max-width: 768px) {
    height: 1.125rem;
    width: 1.125rem;
  }
}
.collapse {
  transform: rotate(180deg);
}
.title,
.year {
  font-family: var(--header-text-font);
  font-size: 2rem;
  text-align: left;
  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}
.year {
  opacity: 50%;
}
.text {
  max-width: 55vw;
  padding-left: 5rem;
  padding-top: 2rem;
  @media (max-width: 768px) {
    max-width: 100%;
    padding-left: 0;
    padding-top: 1.5rem;
    font-size: 1.125rem;
  }
}
