.titleButton {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  gap: 24rem;
  @media (max-width: 768px) {
    width: 100%;
    justify-content: space-between;
  }
}
.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  gap: 24rem;
  flex-shrink: 1;
}
.linkText {
  font-family: var(--header-text-font);
  font-size: 24rem;
}
.expandBtn {
  height: 24rem;
  width: 24rem;
  flex-shrink: 0;
  transition: all 0.5s ease-in-out;
  @media (max-width: 768px) {
    height: 18rem;
    width: 18rem;
  }
}
.collapse {
  transform: rotate(180deg);
}
.title,
.year {
  font-family: var(--header-text-font);
  font-size: 32rem;
  text-align: left;
  @media (max-width: 768px) {
    font-size: 24rem;
  }
}
.year {
  opacity: 50%;
}
.text {
  max-width: 55vw;
  padding-left: 80rem;
  padding-top: 32rem;
  @media (max-width: 768px) {
    width: 100%;
    max-width: 100%;
    padding: 24rem 0;
    font-size: 18rem;
  }
}
.hiddenText {
  display: none;
}
