.main {
  display: flex;
  gap: 5rem;
  @media (max-width: 1200px) {
    flex-direction: column;
    gap: 1.5rem;
  }
}
.imageContainer {
  width: 55vw;
  flex-shrink: 0;
  display: flex;
  gap: 0.75rem;
  @media (max-width: 1200px) {
    width: 100%;
    flex-direction: column-reverse;
    gap: 4rem;
  }
}
.imageWrapper {
  width: 55vw;
  @media (max-width: 1200px) {
    width: 100%;
  }
}
.linksContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 1200px) {
    flex-direction: row;
  }
}
.link {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: var(--header-text-font);
  font-size: 1.125rem;
  @media (max-width: 1200px) {
    writing-mode: unset;
    text-orientation: unset;
  }
}
.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @media (max-width: 768px) {
    gap: 1.125rem;
  }
}
.titleSmall {
  font-family: var(--header-text-font);
  font-size: 2rem;
  display: none;
  @media (max-width: 1200px) {
    display: block;
  }
  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}
.titleBig {
  font-family: var(--header-text-font);
  font-size: 2rem;
  @media (max-width: 1200px) {
    display: none;
  }
  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}
.description {
  @media (max-width: 768px) {
    font-size: 1.125rem;
  }
}
.tagsContainer {
  display: flex;
  gap: 1.125rem;
  flex-wrap: wrap;
}
.tag {
  width: max-content;
  padding: 0.5rem 0.75rem;
  background: var(--black);
  color: var(--yellow);
  font-size: 1rem;
  font-weight: 600;
  cursor: default;
  @media (max-width: 768px) {
    font-weight: 500;
  }
}
