.main {
  display: flex;
  gap: 80rem;
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 24rem;
  }
}
.imageContainer {
  flex-shrink: 0;
  display: flex;
  gap: 12rem;
  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }
}
.linksContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: row;
  }
}
.link {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: var(--header-text-font);
  font-size: 18rem;
  @media (max-width: 768px) {
    writing-mode: unset;
    text-orientation: unset;
  }
}
.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 32rem;
  @media (max-width: 768px) {
    gap: 18rem;
  }
}
.title {
  font-family: var(--header-text-font);
  font-size: 32rem;
  @media (max-width: 768px) {
    font-size: 24rem;
  }
}
.description {
  @media (max-width: 768px) {
    font-size: 18rem;
  }
}
