.menuContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  background-color: var(--yellow);
  z-index: 3;
  &.closedMenu {
    display: none;
  }
}
.closeIcon {
  width: 32rem;
  position: absolute;
  top: 24rem;
  right: 24rem;
  fill: var(--black);
}
.menu {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48rem;
}
.link {
  width: fit-content;
  display: inline-block;
  font-family: var(--header-text-font);
  font-size: 24rem;
  opacity: 50%;
  &:hover,
  &:focus {
    opacity: 100%;
  }
  &.selected {
    opacity: 100%;
  }
}
