.primary,
.secondary {
  width: fit-content;
  padding: var(--spacing-16) var(--spacing-24);
  align-self: flex-end;
  font-size: var(--font-size-16-20);
  font-weight: 700;
  outline: 1px solid var(--black);
  white-space: nowrap;
  cursor: pointer;
}
.primary {
  background-color: var(--black);
  color: var(--yellow);
}
