.section {
  width: 50%;
}
.description {
  margin-top: var(--spacing-32);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-32);
}
.boldText {
  font-weight: 700;
}
.bigText {
  font-size: var(--font-size-32-48);
}
.linksContainer {
  margin-top: var(--spacing-32);
  display: flex;
  gap: var(--spacing-32);
  flex-wrap: wrap;
}
.pictureWrapper {
  width: 45%;
  margin-left: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.picture {
  height: 100%;
  width: auto;
  margin-left: auto;
  object-fit: contain;
  object-position: right top;
}

@media (max-width: 48rem) {
  .section {
    width: 100%;
    flex-direction: column;
  }
  .pictureWrapper {
    width: calc(100% + var(--spacing-16) * 2);
    max-width: unset;
    height: 100%;
    margin-left: calc(var(--spacing-16) * -1);
    margin-right: calc(var(--spacing-16) * -1);
    position: relative;
  }
  .picture {
    width: 100%;
    height: auto;
  }
}
