.main {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.notFoundImage {
  width: 30%;
  margin-bottom: 1.5rem;
}
.notFoundTitle {
  text-align: center;
  font-family: var(--header-text-font);
  font-size: 2rem;
}
.notFoundText {
  text-align: center;
  font-size: 1.125rem;
}
