.main {
  width: 100%;
  height: max-content;
  padding: 32rem;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  gap: 32rem;
  @media (max-width: 1024px) {
    gap: 24rem;
  }
  @media (max-width: 768px) {
    padding: 24rem;
  }
}
