.main {
  height: max-content;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 7rem;
  font-size: 1.5rem;
  @media (max-width: 768px) {
    padding: 1.5rem;
    gap: 3rem;
  }
}
.downloadContainer {
  @media (max-width: 768px) {
    display: none;
  }
}
.downloadContainerMobile {
  display: none;
  @media (max-width: 768px) {
    margin-top: 5rem;
    display: block;
    align-self: center;
  }
}
.download {
  width: fit-content;
  padding: 1rem 1.5rem;
  align-self: flex-end;
  font-family: var(--header-text-font);
  font-size: 3rem;
  outline: 1px solid var(--black);
  white-space: nowrap;
  transition: all 0.5s ease-in-out;
  &:hover,
  :focus {
    color: var(--yellow);
    box-shadow: inset 6.5em 0 0 0 var(--black);
  }
  will-change: transform;
  @media (max-width: 768px) {
    font-size: 2rem;
  }
}
.skillsAndExperience {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  @media (max-width: 768px) {
    flex-direction: column-reverse;
    justify-content: space-between;
  }
}
.skills {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media (max-width: 768px) {
    margin-bottom: 3rem;
    align-items: flex-start;
  }
}
.githubSection {
  width: 100%;
  height: fit-content;
  @media (max-width: 768px) {
  }
}
.githubLink {
  width: fit-content;
  height: fit-content;
  padding: 5rem 0;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-items: center;
  grid-gap: 1.5rem;
  @media (max-width: 1024px) {
    padding: 0;
    padding-top: 3rem;
    grid-template-columns: repeat(1, auto);
  }
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.githubLogo {
  height: 2rem;
  fill: var(--black);
}
.githubText {
  font-family: var(--header-text-font);
  font-size: 2rem;
  @media (max-width: 768px) {
    text-align: center;
    font-size: 1.5rem;
  }
}
.projectDescLink {
  width: fit-content;
  height: fit-content;
  display: inline-block;
  white-space: nowrap;
  position: relative;
  font-weight: 600;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: var(--black);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  &:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}
