.main {
  height: max-content;
  padding: 32rem;
  display: flex;
  flex-direction: column;
  gap: 112rem;
  font-size: 24rem;
  @media (max-width: 768px) {
    padding: 24rem;
    gap: 48rem;
  }
}
.download {
  width: fit-content;
  padding: 16rem 24rem;
  align-self: flex-end;
  font-family: var(--header-text-font);
  font-size: 48rem;
  outline: 1px solid var(--black);
  transition: all 0.5s ease-in-out;
  &:hover,
  :focus {
    color: var(--yellow);
    box-shadow: inset 6.5em 0 0 0 var(--black);
  }
  @media (max-width: 768px) {
    margin-top: 80rem;
    align-self: center;
    font-size: 32rem;
  }
}
.skillsAndExperience {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  @media (max-width: 768px) {
    flex-direction: column-reverse;
    justify-content: space-between;
  }
}
.skills {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media (max-width: 768px) {
    margin-bottom: 48rem;
    align-items: flex-start;
  }
}
.githubSection {
  width: fit-content;
  padding: 80rem 0;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-items: center;
  grid-gap: 24rem;
  transition: all 0.3s ease-in-out;
  &:hover,
  :focus {
    transform: scale(1.1);
  }
  @media (max-width: 1024px) {
    grid-template-columns: repeat(1, auto);
  }
  @media (max-width: 768px) {
    padding: 0;
    padding-top: 48rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.githubLogo {
  height: 32rem;
  fill: var(--black);
}
.githubText {
  font-family: var(--header-text-font);
  font-size: 32rem;
  @media (max-width: 768px) {
    text-align: center;
    font-size: 24rem;
  }
}
