.header {
  width: 100%;
  padding: var(--spacing-32);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: var(--header-font);
  font-size: var(--font-size-20-24);
  background-color: var(--yellow);
  z-index: 3;
}
.navigation {
  display: flex;
  align-items: center;
  gap: var(--spacing-48);
}
.link {
  display: inline-block;
  opacity: 50%;
}
.link:focus,
.link:hover,
.lick:active,
.link.selected {
  opacity: 100%;
}

@media (max-width: 48rem) {
  .widthContainer {
    padding: var(--spacing-16);
  }
  .header {
    padding: 0;
  }
  .navigation {
    display: none;
  }
}
