.section {
  margin: var(--spacing-80) auto;
}
.link {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-12);
  flex-wrap: wrap;
  font-family: var(--header-font);
  font-weight: 400;
  font-size: var(--font-size-24-32);
  text-align: center;
}
.logo {
  width: 2rem;
  height: 2rem;
  fill: var(--black);
}
