.contactsContainer {
  @media (max-width: 1024px) {
    margin: auto;
    margin-left: 3rem;
  }
}

.title {
  margin-bottom: 2rem;
  font-family: var(--header-text-font);
  font-size: 2rem;
  @media (max-width: 768px) {
    margin-bottom: 1.5rem;
  }
}
.contacts {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  @media (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem 4rem;
  }
  @media (max-width: 768px) {
    grid-gap: 1.5rem 2rem;
  }
}
