.pattern {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: var(--spacing-32);
}
.horizontalPhoto {
  width: 100%;
  aspect-ratio: 3 / 2;
}

@media (max-width: 48rem) {
  .pattern {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: var(--spacing-16);
  }
}
