.section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-80);
}
.sectionTitle {
  font-family: var(--header-font);
  font-weight: 400;
  font-size: var(--font-size-32-48);
}
.projectList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-80);
}

@media (max-width: 48rem) {
  .section,
  .projectList {
    gap: var(--spacing-48);
  }
}
