@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Staatliches&display=swap");

html {
  --yellow: #f7c003;
  --black: #333;
  --white: #e4e4e4;
  --black-transparent: rgb(51, 51, 51, 0.8);
  --text-color: var(--black);
  --back-color: var(--yellow);
  --simple-text-font: "Montserrat", sans-serif;
  --header-text-font: "Staatliches", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

input,
button,
textarea,
select {
  font: inherit;
}

html {
  font-family: var(--simple-text-font);
  font-size: 1px;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background: var(--back-color);
}
ul {
  padding: 0;
  list-style-type: none;
}
p,
h2 {
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}
.frozen {
  overflow: hidden;
}

@media (max-width: 562px) {
  html {
    font-size: 0.24155vw;
  }
}
