.projectContainer {
  display: flex;
  gap: var(--spacing-80);
}
.title {
  width: fit-content;
  font-family: var(--header-font);
  font-weight: 400;
  font-size: var(--font-size-24-32);
}
.titleMobile {
  display: none;
}
.imageWrapper {
  width: 55vw;
  flex-shrink: 0;
}
.imageLinkWrapper {
  display: block;
  position: relative;
  aspect-ratio: 3 / 2;
}
.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top left;
}
.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-32);
}
.description {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
}
.description a {
  width: fit-content;
  height: fit-content;
  display: inline-block;
  white-space: nowrap;
  position: relative;
  font-weight: 600;
}
.description a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: var(--black);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.description a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.tagsContainer {
  display: flex;
  gap: var(--spacing-20);
  flex-wrap: wrap;
}
.tag {
  width: max-content;
  padding: var(--spacing-8) var(--spacing-12);
  background: var(--black);
  color: var(--yellow);
  font-size: 1rem;
  font-weight: 600;
  cursor: default;
}

@media (max-width: 48rem) {
  .projectContainer {
    flex-direction: column;
    gap: var(--spacing-24);
  }
  .titleMobile {
    display: revert;
  }
  .titleDesktop {
    display: none;
  }
  .imageWrapper {
    width: 100%;
  }
  .descriptionContainer {
    gap: var(--spacing-20);
  }
  .tag {
    font-weight: 500;
  }
}
