.download {
  width: fit-content;
  padding: var(--spacing-16) var(--spacing-24);
  font-family: var(--header-font);
  font-size: var(--font-size-32-48);
  outline: 1px solid var(--black);
  white-space: nowrap;
  transition: all 0.5s ease-in-out;
  will-change: transform;
}
.download:hover,
.download:focus {
  color: var(--yellow);
  box-shadow: inset 6.5em 0 0 0 var(--black);
}
@media (prefers-reduced-motion) {
  .download {
    transition: none;
  }
}
